<!DOCTYPE html>
<!--[if IE 8]>          <html class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->
  <head>
    <!-- Site Info -->
    <title>Email</title>
    <meta name="description" content="Site Description">
    <meta name="keywords" content="Keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="app/stylesheets/application.css" />
  </head>

  <body>
    {{= it.include("header") }}

    {{= it.document }}

    {{= it.include("footer") }}
  </body>
</html>